* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.location {
  padding: 20px;
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/*Search box*/
.location-search-container {
  width: 100%;
  flex: 1 1 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.location-search {
  width: 300px;
  height: 30px;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: width 0.3s;
}
.location-search input {
  width: 92%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  color: gray;
  font-family: "Poppins", sans-serif;
}
.location-search button {
  width: 8%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: gray;
  transition: color 0.3s ease-in;
}
.location-search button:hover {
  color: black;
}
.input-error-div {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background: white;
  position: absolute;
  top: 50px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}
.input-error {
  color: gray;
  font-size: 0.9em;
  font-family: "Poppins", sans-serif;
}

/*Location Weather Content*/
.location-weather {
  width: 100%;
  padding: 20px;
  flex: 1 1 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.location-weather > * {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location-weather p {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 1);
}
.location-weather-icon-container {
  justify-content: center;
  height: 150px;
}
.location-weather-icon {
  height: 100%;
  width: auto;
  filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(218deg) brightness(112%)
    contrast(100%);
}
.location-weather-temp-container {
  justify-content: center;
}
.location-weather-temp {
  font-size: 4em;
}
.location-weather-type {
  font-size: 1.5em;
}
.location-weather-info-container {
  justify-content: flex-end;
}
.location-weather-place {
  font-size: 1.5em;
}

.info {
  padding: 20px;
  background: white;
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
}
.info > * {
  flex-basis: 100%;
}
.info-general,
.info-forecast {
  display: flex;
  flex-direction: column;
}
.info-general-title-container,
.info-forecast-title-container {
  flex: 1 1 10%;
  border-bottom: 2px solid gray;
}
.info h2 {
  font-family: "Poppins", sans-serif;
  color: gray;
  font-size: 1.5em;
}
.info-general-content,
.info-forecast-content {
  flex: 1 1 90%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px 20px;
}
.info-general-content > *,
.info-forecast-content > * {
  flex: 1 1 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.info-general-content img,
.info-forecast-content img {
  width: 80px;
  height: auto;
}
.info-general-content p,
.info-forecast-content p,
.info-general-content h5,
.info-forecast-content h5 {
  font-family: "Poppins", sans-serif;
  color: gray;
}
.info-general-content p,
.info-forecast-content p,
.info-general-content h5 {
  font-size: 15px;
}
.info-forecast-content h5 {
  font-size: 18px;
}

/*RESPONSIVENESS*/
@media (max-width: 1000px) {
  body {
    flex-direction: column;
  }
  .location-weather-icon-container,
  .location-weather-temp-container,
  .location-weather-info-container {
    transform: scale(0.8);
  }
  .info h2 {
    font-size: 1.2em;
  }
}

@media (max-width: 600px) {
  .info-general-content img,
  .info-forecast-content img {
    width: 70px;
  }
  .info-general-content p,
  .info-forecast-content p,
  .info-general-content h5,
  .info-forecast-content h5 {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .location-search {
    width: 200px;
  }
}
