* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.location {
  padding: 20px;
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*gap: 20px;*/
}

/*Search box*/
.location-search-container {
  width: 100%;
  flex: 1 1 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-search {
  width: 50%;
  padding: 8px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.location-search input {
  border: none;
  outline: none;
  font-size: 14px;
  color: gray;
}
.location-search button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: gray;
  transition: color 0.3s ease-in;
}
.location-search button:hover {
  color: black;
}

/*Location Weather Content*/
.location-weather {
  width: 100%;
  padding: 20px;
  flex: 1 1 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.location-weather > * {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location-weather p {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 1);
}
.location-weather-icon-container {
  justify-content: center;
}
.location-weather-icon {
  height: 100%;
  width: auto;
}
.location-weather-temp-container {
  justify-content: center;
}
.location-weather-temp {
  font-size: 4em;
}
.location-weather-type {
  font-size: 1.5em;
}
.location-weather-info-container {
  justify-content: flex-end;
}
.location-weather-place {
  font-size: 1.5em;
}

.info {
  padding: 20px;
  background: white;
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
}
.info > * {
  flex-basis: 100%;
}
.info-general,
.info-forecast {
  display: flex;
  flex-direction: column;
}
.info-general-title-container,
.info-forecast-title-container {
  flex: 1 1 10%;
  border-bottom: 2px solid gray;
}
.info h2 {
  font-family: "Poppins", sans-serif;
  color: gray;
  font-size: 1.5em;
}
.info-general-content,
.info-forecast-content {
  flex: 1 1 90%;
  padding: 20px;
  display: flex;
  gap: 20px;
}
.info-general-content > *,
.info-forecast-content > * {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.info-forecast-content > * {
  border: 1px solid gray;
  border-radius: 5px;
}
.info-general-content img,
.info-forecast-content img {
  width: 50%;
  height: auto;
}
.info-forecast-content img {
  filter: invert(50%);
}
.info-general-content p,
.info-forecast-content p,
.info-forecast-content h5 {
  font-family: "Poppins", sans-serif;
  color: gray;
}
.info-forecast-content h5 {
  font-size: 1.1em;
}
