.info-general-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  background: palevioletred;
  border-radius: 2em;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.temperature-units {
  width: 100%;
  height: 100%;
  padding: 0 7px 0px 5px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.celcius,
.fahrenheit {
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s;
}
.celcius {
  color: gray;
}
.fahrenheit {
  color: white;
}

.toggle-slider:before {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 2.5px;
  bottom: 2.5px;
  background-color: white;
  transition: all 0.4s;
}

input:checked + .toggle-slider:before {
  left: 27.5px;
}
